.root {
  cursor: text;
  outline: none;
  text-align: left;
  box-sizing: border-box;
  white-space: normal;
  font-size: 15px;
  line-height: 140%;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
  width: 100%;
  min-height: 100%;
}

.placeholder {
  color: var(--lightTextColor);
}
