.root {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;

  + .name {
    margin-left: 8px;
  }
}

.name {
  color: var(--primaryTextColor);
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
