.root {
  position: relative;
  overflow-x: hidden;
  background-color: var(--stubBgColor);
}

.root .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg); // Наклон
  animation: flareAnimation;
  left: -50px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 1.5s infinite linear; // Время и тип анимации можно менять
}

@keyframes flareAnimation {
  0% {
    left: -50px;
  }
  100% {
    left: calc(100% + 50px);
  }
}